<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>meokguskku</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
  <string>리뷰 이미지 업로드를 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 기반 서비스 이용을 위해 위치 정보 접근 권한이 필요합니다.</string>
	<!--  
	<key>NSPhotoLibraryUsageDescription</key>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
  <dict>
    <key>map</key>
    <string>위치 기반 서비스 이용을 위해 위치 정보 접근 권한이 필요합니다.</string>
  </dict> -->
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>위치 기반 서비스 이용을 위해 위치 정보 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>위치 기반 서비스 이용을 위해 위치 정보 접근 권한이 필요합니다.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>리뷰/및 프로필 사진 업로드를 위해 갤러리 접근 권한이 필요합니다.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareRoundB.ttf</string>
		<string>NanumSquareRoundEB.ttf</string>
		<string>NanumSquareRoundL.ttf</string>
		<string>NanumSquareRoundR.ttf</string>
		<string>NIXGONFONTS L 2.0.ttf</string>
		<string>NIXGONFONTS M 2.0.ttf</string>
		<string>NIXGONFONTS M 2.0.otf</string>
		<string>NanumSquareRoundB.otf</string>
		<string>NanumSquareRoundEB.otf</string>
		<string>NanumSquareRoundL.otf</string>
		<string>NanumSquareRoundR.otf</string>
	</array>
</dict>
</plist>
